.popup_type_edit-profile {
    justify-content: center;
}

.popup__container_type_edit-profile {
    width: 500px;
    height: 350px;
    background: #202020;
    border-radius: 3px;
    padding: 25px 15px 15px 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-profile {
    display: grid;
    grid-template-columns: minmax(260px, 396px);
}

.form-profile__info {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #EE3465;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .popup__container_type_edit-profile {
        width: 290px;
        height: 350px;
        background: #202020;
        border-radius: 3px;
        padding: 25px 10px 10px 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


