.promo__container {
    min-height: 574px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.promo__content {
    width: 100%;
}

.promo__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
}

.promo__text {
    display: flex;
    flex-direction: column;
}

.promo__title {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 1.16;
    color: #FFFFFF;
    margin: 0 0 36px 0;
    max-width: 640px;
}

.promo__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 0;
    max-width: 310px;
}

.promo__img {
    width: 310px;
    height: 304px;
}

@media screen and (max-width: 768px) {
    .promo__container {
        min-height: 850px;
        align-items: flex-start;
    }

    .promo__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 140px;
    }

    .promo__info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 92px;
    }

    .promo__img {
        order: 0;
        margin-bottom: 48px;
    }

    .promo__text {
        order: 1;
        align-items: center;
        text-align: center;
    }

    .promo__title {
        font-size: 40px;
        line-height: 1.25;
        margin: 0 0 22px 0;
        max-width: 640px;
    }

    .promo__subtitle {
        max-width: 260px;
    }
}