.promo__content {
    width: 100%;
}

.promo__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
}

.promo__text {
    display: flex;
    flex-direction: column;
}

.promo__title {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 1.16;
    color: #FFFFFF;
    margin: 0 0 36px 0;
    max-width: 640px;
}

.promo__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 0;
    max-width: 310px;
}

.promo__img {
    width: 310px;
    height: 304px;
}