.promo {
    background-color: #073042;
    box-sizing: border-box;
}

.project {
    background-color: #202020;
    box-sizing: border-box;
}

.technologies {
    background-color: #272727;
    box-sizing: border-box;
    min-height: 625px;
}

.about {
    background-color: #202020;
    box-sizing: border-box;
    min-height: 1079px;
}
