.promo {
    background-color: #073042;
    box-sizing: border-box;
}

.promo__container {
    min-height: 574px;
    display: flex;
    align-items: center;
}

.project {
    background-color: #202020;
    box-sizing: border-box;
}

.technologies {
    background-color: #272727;
    box-sizing: border-box;
    min-height: 625px;
}