.navigation__link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #FFF;
    margin: 0;
    text-decoration: none;
}

.navigation__link_type_main {
    margin-right: 30px;
}

.navigation__button {
    background: #3DDC84;
    border-radius: 3px;
    height: 32px;
    width: 74px;
    border: none;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000;
}

@media screen and (max-width: 480px) {
    .navigation__link {
        font-size: 10px;
        line-height: 1.6;
    }

    .navigation__link_type_main {
        margin-right: 14px;
    }

    .navigation__button {
        height: 26px;
        width: 54px;

        font-size: 10px;
        line-height: 1.6;
    }
}