.section-title {
    border-bottom: 1px solid #DADADA;
}

.section-title__title {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0 0 23px 0;
    padding-top: 100px;
}