.content_type_start-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.start-page{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.form-start {
    display: grid;
    grid-template-columns: minmax(260px, 396px);
}
