.footer {
    min-height: 172px;
    background-color: #202020;
    box-sizing: border-box;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.footer__title {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #8B8B8B;
    margin: 0 0 20px 0;
    padding-top: 76px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid #424242;
    min-height: 56px;
    box-sizing: border-box;
}

.footer__date {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}

.footer__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__list-item {
    margin: 0 20px 0 0;
}

.footer__list-item:last-child {
    margin-right: 0;
}

.footer__list-link {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footer__title {
        padding-top: 79px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        min-height: 270px;
    }

    .footer__title {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 21px 0;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
    }

    .footer__date {
        font-size: 12px;
        line-height: 15px;
        color: #8B8B8B;
        order: 1;
        padding-bottom: 10px;
    }

    .footer__list {
        flex-direction: column;
        align-items: center;
        order: 0;
        margin: 30px 0 30px 0;
    }

    .footer__list-item {
        margin: 0 0 12px 0;
    }

    .footer__list-item:last-child {
        margin-bottom: 0;
    }

    .footer__list-link {
        font-size: 12px;
        line-height: 15px;
    }
}